body {
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#content {
    background-color: white;
    margin-top: 40px;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
#content::after {
    clear: both;
    display: block;
    content: '';
}
header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
form {
    margin: 30px 0;
}
#loaders {
    text-align: center;
}
#loaders img {
    width: 150px;
    margin: 0 auto;
    /* display: none; */
}
#resetBtn {
    float: right;
}

#spinner {
    display: none;
}


.container{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .main{
    margin:1rem;
    max-width:350px;
    width:50%;  
    height:250px;
  }
  @media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }
  select {
      display: none !important;
  }
  
  .dropdown-select {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
      background-color: #fff;
      border-radius: 6px;
      border: solid 1px #eee;
      box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      float: left;
      font-size: 14px;
      font-weight: normal;
      height: 42px;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
  
  }
  
  .dropdown-select:focus {
      background-color: #fff;
  }
  
  .dropdown-select:hover {
      background-color: #fff;
  }
  
  .dropdown-select:active,
  .dropdown-select.open {
      background-color: #fff !important;
      border-color: #bbb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #777;
      -webkit-transform: origin(50% 20%);
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
  }
  
  .dropdown-select.open:after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  
  .dropdown-select.open .list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  
  .dropdown-select.open .option {
      cursor: pointer;
  }
  
  .dropdown-select.wide {
      width: 100%;
  }
  
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      border-radius: 6px;
      margin-top: 4px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
  
  .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  
  .dropdown-select .dd-searchbox{
    width:90%;
    padding:0.5rem;
    border:1px solid #999;
    border-color:#999;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color:#12CBC4;
  }
  
  .dropdown-select .list ul {
      padding: 0;
  }
  
  .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      transition: all 0.2s;
      list-style: none;
  }
  
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #f6f6f6 !important;
  }
  
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #12cbc4;
  }
  
  .dropdown-select .option.selected:focus {
      background: #f6f6f6;
  }
  
  .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  }
  
  .dropdown-select a:hover {
      color: #666;
  }
  