
  form{
    background-color:#F0F8FF
    }
  #formLogin{  
    text-align:center;
  }
  .text{
    padding:0.5em;  
    align-left:5em;
    width:200px;
    height:10px;
  }
  label{
    padding:0.5em;
    align-left:5em;
  }
  
  
  .logout{ 
    float:right;
  background-color:yellow;
  }
  #Details{
    background-color:#F0F8FF
    }
  
  table tr th{
    border:1px solid black; 
    text-align:center;
  }
  table tr td{
    border:1px solid black; 
    text-align:center;
  }
  #Details{
    padding:0.5em;  
  }
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #FF7F50;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }
  
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s
  }
  
  .sidenav a:hover, .offcanvas a:focus{
      color: #FF7F50;
  }
  
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #upload{
      display:none
  }
  img{
   
    float:left;
    width:200px;
    height:150px
  }
  .badge{
    background-color:red;
    position:relative;
  }
  
  .drop{
    border: 1px solid black;
   background-color:#F0FFFF;
    
  }
  