body {
  background: #bebee8;
  font-family: arial;
  font-size: 16px;
}

#container {
  width: 70%;
  background: white;
  margin: 20px auto;
  overflow: auto;
  padding: 25px;
  right:0px;;
}

header {
  text-align: center;
  border-bottom: #fff dashed 1px;
}

header h1,
header p {
  margin :0px;
  padding :0;
}

.topright {
  position: fixed;
  top: 1%;
  right:2%;
}

header p {
  margin-top: 5px;
  color: #000;
}

section {
  min-height: 400px;
}

footer {
  text-align: center;
}

input[type="submit"] {
  background: #2b2be3;
  border: 0;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

#results h3 {
  background: #2b2be3;
  padding: 10px;
  margin: 10px 0;
  color:white;
}
#results span {
  color: white;
  font-weight: bold; 
}


#toast {
    visibility: hidden;
    max-width: 60px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #toast_title{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #toast_message{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
