<%- include( '../public/nav/public-nav.ejs'); %>
<section class="hero container container-pall">
  <div class="hero__image">
    <img 
         src="https://a.top4top.io/p_1996ri7a41.png" 
         alt="Hero Image" 
         class="hero__illustration-image" 
         draggable="false">
  </div>

  <div class="hero__text">
    <h1 class="hero__heading">Get your work done. Manage your Team & Task</h1>
    <p class="hero__description">
      Turn your team on to productivity 
      with perfect task management and Reporting
    </p>
    <a class="hero__cta hero__cta--primary" onclick="loadsignup()"> Get Started Now !</a>
  </div>
</section>
<script>
    function loadsignup()
    {
        window.location.replace("signup.html");
    }
</script>
