 <link rel="stylesheet" href="/css/leave-approve.css" type="text/css">
 <div id="Details">
    <h3>Leave Approve</h3>
    <table style="width:100%">
      <tr>
        <th>S.No</th>
        <th>Leave Type</th>
        <th>From Date</th>
        <th>To Date</th> 
        <th>Requested Days</th>
        <th>Current Status</th>
        <th>Comments</th>
        <th>Update</th>
      </tr>
      <tr>
      <td>1</td>
        <td>Medical</td>
        <td>1/2/2017</td>
        <td>1/3/2017</td>
        <td>1</td>
        
        <td><select>
          <option value="Pending">Pending</option>
          <option value="Accept">Accept</option>
          <option value="Reject">Reject</option>
          </select></td><td><input type="text" placeholder="write your comments and update" class="form-control" /></td>
        <td> <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModalUpdate">Accept</button><button type="button" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#myModalDelete">Reject</button></td>
      </tr>
    </table>
  </div>
  
</body>