<link rel="stylesheet" href="css/apply-leave.css" type="text/css">
<section class="main-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
  
          <div class="leave-form">
  
            <header class="form-header">
              <h2>Apply for leave</h2>
            </header>
            <div class="emp-details">
              <ul class="key-value">
                <li>
                  <label>Emp ID</label>
                  <span class="value">12547</span>
                </li>
                <li>
                  <label>Email ID</label>
                  <span class="value">Naveenb@thoughtworks.com</span>
                </li>
              </ul>
            </div>
            
            <div class="form-container">
              
  <form action="">
    
    <div class="form-group">
      <label for="formGroupExampleInput">Type of leave</label>
     <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Start Date</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    
              </form>            
              
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </section>