<link rel="stylesheet" type="text/css" href="css/index.css"/>
<header class="header container container-pall">
  <nav class="nav flex flex-jc-sp flex-ai-c">
    <a class="header__logo" href="#">TaskM</a>
    <div class="toggle-menu flex hide-for-desktop" tabindex="0" role="button">
      <div class="toggle-menu__dots">
        <span class="toggle-menu__dot"></span>
        <span class="toggle-menu__dot"></span>
        <span class="toggle-menu__dot"></span>
        <span class="toggle-menu__dot"></span>
      </div>
      <span class="toggle-menu__text">Menu</span>
    </div>
    <ul class="menu flex">
      <li class="menu__item"><a href="#" class="menu__link">Features</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Contact-us</a></li>
      <li class="menu__item"><a href="#" class="menu__link">portfolio</a></li>
      <li class="menu__item"><a href="login" class="menu__link menu__link--primary">Sign In</a></li>
    </ul>
  </nav>
</header>